<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Hello, <%= name %></title>
  </head>

  <body>

    <!––navbar starts here––>
    <nav class="navbar navbar-expand-lg navbar-dark py-3">
      <a class="navbar-brand" href="/dashboard">CV Builder </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse mr-auto navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li>
            <a class="nav-link" href="/dashboard">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newresume">Resume</a>
          </li>
        </ul>
      </div>
      <div class="register-btns">
        <a href="/resume" class="btn btn-lg btn-info mr-4">Create Your CV</a>
        <a href="/users/logout" class="btn btn-lg btn-success float-right">Logout</a>
      </div>
    </nav>
    <!––navbar ends here––>
    <div id="slider" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
      <!-- <ul class="carousel-indicators">
        <li data-target="#slider" data-slide-to="0" class="active"></li>
        <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
      </ul>-->
        <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src='https://www.tokkoro.com/picsup/3045966-night_work.jpg'/>
            <div class="carousel-caption p-4">
              <h1 class="display-4">Hi <%= name %></h1>
              <p class="lead">
                Welcome to my website.This is my personal website that has all kind of
                information about me.Check out my resume and other things.
              </p>

              <hr class="my-4" />
              <p>
                It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem
                Ipsum.
              </p>
            </div>
        </div>
        <!-- <div class="carousel-item">
            <img src="images/img.jpg" alt="Chicago">
            <div class="carousel-caption p-4">
              <h1 class="display-4">Hi <%= name %></h1>
              <p class="lead">
                Welcome to my website.This is my personal website that has all kind of
                information about me.Check out my resume and other things.
              </p>

              <hr class="my-4" />
              <p>
                It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem
                Ipsum.
              </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/img.jpg" alt="New York">
            <div class="carousel-caption p-4">
              <h1 class="display-4">Hi <%= name %></h1>
              <p class="lead">
                Welcome to my website.This is my personal website that has all kind of
                information about me.Check out my resume and other things.
              </p>

              <hr class="my-4" />
              <p>
                It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem
                Ipsum.
              </p>
            </div>
        </div> -->
      </div>
      <section class="customers-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding text-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2" >
              <h2>CUSTOMERS</h2>
              <h3>Trusted by some of the world’s leading brands.</h3>
              <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60 marginTop40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed libero vel ex maximus vulputate nec eu ligula. Vestibulum elementum nisi ut fermentum lobortis. Sed quis iaculis felis.</p>
            </div>
            <div class="clearfix">
          </div>
        </div>
      </section>

        <!-- Left and right controls -->
        <!-- <a class="carousel-control-prev" href="#slider" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#slider" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        </a>-->

      </div>
    <footer class="footer-dark">
      <div class="footer footer-expand-lg ">
      <div class="text-center p-4 text-light ">
        <p >All Rights Reserved &copy; 2019</p>
      </div>
    </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
