<!––navbar starts here––>
<nav id="ignorePDF" class="navbar navbar-expand-lg navbar-dark py-3">
  <a class="navbar-brand" href="/dashboard">CV Builder </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse mr-auto navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="/dashboard">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newresume">Resume</a>
      </li>
    </ul>
  </div>
  <div class="register-btns">
    <a class="btn btn-lg btn-info mr-4" href="JavaScript::void()" id="ignorePDF" onclick="pdf()">Download PDF</a>
    <a href="/resume" class="btn btn-lg btn-info mr-4">Create Your CV</a>
    <a href="/users/logout" class="btn btn-lg btn-success float-right">Logout</a>
  </div>
</nav>
<!––navbar ends here––>

<div class="container">
  <div class="template p-4">
    <div class="jumbotron bg-info mx-3">
      <ul class="nav flex-column">
        <% records.forEach(function(row){%>
        <li class="nav-item"><a class="number text-light" >+92<%= row.phone %></a></li>
        <li class="nav-item"><a class="email text-light" >shaheerali@gmail.com</a></li>
        <li class="nav-item"><a class="age text-light" ><%= row.age %></a></li>
        <li class="nav-item"><a class="site text-light" >www.Shaheerweb.com</a></li>
        <li class="nav-item"><a class="site text-light" >Lahore, Pakistan</a></li>
      </ul>
      <h1 class="display-3 mt-3 name text-light"><%= row.firstName %> <%= row.lastName %></h1>
    </div>
    <section class="sec objective">
      <div class="sec-head">
        <h2>Objective</h2>
      </div>
      <div class="sec-body p-4 row">
        <div class="col">
          <%= row.objective %>
        </div>
      </div>
    </section>
    <section class="sec skills">
      <div class="sec-head">
        <h2>Skills</h2>
      </div>
      <div class="sec-body p-4 row">
        <div class="col-sm-6">
          <ul class="nav flex-column">
            <li class="nav-item">
              <%= row.skills %>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="sec experience">
      <div class="sec-head">
        <h2>Eperience</h2>
      </div>
      <div class="sec-body p-4 row">
        <div class="col">
          <ul class="nav flex-column">
            <li class="nav-item">
              <%= row.workExperience %>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="sec education">
      <div class="sec-head">
        <h2>Education</h2>
      </div>
      <div class="sec-body p-4 row">
        <div class="col">
          <ul class="nav flex-column">
            <li class="nav-item">
              <%= row.education %>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
<% }) %>
<!DOCTYPE html>
<!-- <html> -->
  <!-- <body> -->
    <!-- <p id="ignorePDF" onclick="pdf()">don't print this to pdf</p> -->
    <!-- <p>this is zero</p> -->
    <!-- <div> -->
      <!-- <p><font size="3" color="red" onclick="pdf()">print this to pdf</font></p> -->
    <!-- </div> -->
  <!-- </body> -->
<!-- </html> -->


<!-- <script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script>
	function pdf(){
	var doc = new jsPDF();
var elementHandler = {
  '#ignorePDF': function (element, renderer) {
    return true;
  }
};
var source = window.document.getElementsByTagName("body")[0];
doc.fromHTML(
    source,
    10,
    10,
    {
      'width': 150 , 'elementHandlers': elementHandler
    });

doc.output("dataurlnewwindow");
}
</script>
<!-- </script> -->
<!--

      <form>
        <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Resume Lists</h1>
      <table >
        <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>age</th>
        <th>phone</th>
        <th>objective</th>
        <th>workExperience</th>
        <th>education</th>
        <th>skills</th>
      </tr>
    </thead>
    <tbody>
      <% records.forEach(function(row){%>
      <tr>
        <td><%= row.firstName %></td>
        <td><%= row.lastName %></td>
        <td><%= row.age %></td>
        <td><%= row.phone %></td>
        <td><%= row.objective %></td>
        <td><%= row.workExperience %></td>
        <td><%= row.education %></td>
        <td><%= row.skills %></td>
      </tr>

    <% }) %>
    </tbody>
  </table>
    </div>
  </div>
</div>

      </form>-->
