<!––navbar starts here––>
<nav class="navbar navbar-expand-lg navbar-dark py-3">
  <a class="navbar-brand" href="/dashboard">CV Builder </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse mr-auto navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="/dashboard">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resume">Resume</a>
      </li>
    </ul>
  </div>
  <div class="register-btns">
    <a href="/resume" class="btn btn-lg btn-info mr-4">Create Your CV</a>
    <a href="/users/logout" class="btn btn-lg btn-success float-right">Logout</a>
  </div>
</nav>
<!––navbar ends here––>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Create Resume
      </h1>
      <form class="" action="" method="post" class="form-group">
    <div class="form-row mt-5">
    <div class="form-group col-md-6">
      <i class="fas fa-user prefix"></i>
      <label for="firstName">firstName</label>
      <input type="string" class="form-control" name="firstName" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <i class="fas fa-user prefix"></i>
      <label for="lastName">Last Name</label>
      <input type="string" class="form-control" name="lastName" placeholder="Last Name">
    </div>
    <div class="form-group col-md-6">
      <i class="fas fa-user prefix"></i>
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <i class="fas fa-user prefix"></i>
      <label for="address">Address</label>
      <input type="address" class="form-control" name="address" placeholder="Address">
    </div>
    <div class="form-group col-md-6">
      <i class="fas fa-user prefix"></i>
      <label for="age">Age</label>
      <input type="number" class="form-control" name="age" placeholder="Age">
    </div>
    <div class="form-group col-md-6">
      <i class="fas fa-user prefix"></i>
      <label for="phone">Phone</label>
      <input type="number" class="form-control" name="phone" placeholder="Phone">
    </div>
    <div class="form-group col-md-6">
      <i class="fas fa-user prefix"></i>
      <label for="objective">Objective</label>
      <textarea class="form-control" rows="5" name="objective"></textarea>
    </div>
    <div class="form-group col-md-6">
      <i class="fas fa-user prefix"></i>
      <label for="workExperience">Work Experience</label>
      <textarea class="form-control" rows="5" name="workExperience"></textarea>
    </div>
    <div class="form-group col-md-6">
      <i class="fas fa-user prefix"></i>
      <label for="education">Education</label>
      <textarea class="form-control" rows="5" name="education"></textarea>
    </div>
    <div class="form-group col-md-6">
      <i class="fas fa-user prefix"></i>
      <label for="skills">Skills</label>
      <textarea class="form-control" rows="5" name="skills"></textarea>
    </div>
<button type="submit" class="btn btn-primary btn-block">
          Create PDF
        </button>
  </form>
    </div>
  </div>
</div>
