body {
  background: #fff !important;
  color: black;
}
.navbar {
  background-color: black;
  font-size: 24px !important;
}
#slider .carousel-item img {
  height: 600px;
  width: 100%;
}
#slider .carousel-item .display-4 {
  margin-bottom: 12% !important;
}
.jumbotron {
  background-color: #ffffff0d !important;
}
.carousel-caption {
  bottom: 15% !important;
  background-color: #7d1a1a69 !important;
}

.template {
  background-color: #f1f1f1 !important;
}
.sec-head h2 {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}
.sec-body .nav li {
  list-style: disc;
  padding-left: 15px;
  margin-bottom: 10px;
}
.footer-dark {
  background: black;
}
